<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>pictureAPP</h1>
            </div>
        </div>
        <div class="list">
          <form id="login-form">
                      <center><p><input id="login-username" type="text" placeholder="username"></p></center>
                      <center><p><input id="login-password" type="password" placeholder="password"></p></center>
                      <center><input type="submit"></center>

          </form>
          <br />
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive ink">Login</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
    </ion-content>
</ion-view>

<script type="text/javascript">
Parse.initialize("HPO14qrXOVv8i6NKQq5UJeGx07IUMDGY0fRhtK4z", "P1JI9V8KsBN88X0uwAfGh5FVngz4VU7Gc3GTWtrX");
  var Post = Parse.Object.extend("Post");

  $("#login-form").submit(function(event){
      event.preventDefault();

      var username = $("#login-username").val();
      var password = $("#login-password").val();

      Parse.User.logIn(username, password, {
          success: function(user){
              console.log("Login succeeded!");
              checkLogInStatus();
          }, error: function(user, error){
              console.log("Login error:"+error.message);
          }
      });
  });


  // Listen for page-show from logout
  $("#logout").on("page-show", function(event){
      console.log("Log Out page-show!");
      // Log Out with Parse
      Parse.User.logOut();
      checkLogInStatus();
  });

  $("#register").on("page-show", function(event){
      console.log("Showing Register Page!");
  });


</script>
